.signup-card {
  flex: 1;
  max-width: 18em;
  font-size: 1.2em;
}

.signup-header {
  text-align: center;
  text-transform: uppercase;
}

.signup-logo {
  display:block;
  margin: 3em auto 2em;
}

.signup-button {
  width: 100%;
  text-align: center;
}
