.signup-card {
  flex: 1;
  max-width: 18em;
  font-size: 1.2em;
}

.error-text {
  text-align: center;
  color: rgb(244,67,54);
  line-height: 0;
  margin-top: 0;
}

.form-header {
  text-align: center;
  text-transform: uppercase;
}

.octoblu-logo {
  display:block;
  margin: 3em auto 2em;
}

.signup-button {
  width: 100%;
  text-align: center;
}

.user-form {
  margin-bottom: 2em;
}
