<form name="controller.loginForm" class="auth__form" ng-submit="controller.login(email, password)" novalidate>
  <h3 class="auth__form-header">Login</h3>

  <md-input-container class="auth__form-row">
    <label>Email</label>
    <input type="email" ng-model="email" name="email" required>
    <div ng-messages="controller.loginForm.email.$error">
      <div ng-message="required" ng-show="controller.emailRequiredError()">Required.</div>
      <div ng-message="email" ng-show="controller.loginForm.email.$error.email">Must be a valid email address.</div>
    </div>
  </md-input-container>

  <md-input-container class="auth__form-row">
    <label>Password</label>
    <input type="password" ng-model="password" name="password" required>
    <div ng-messages="controller.loginForm.password.$error">
      <div ng-message="required" ng-show="controller.loginForm.password.$error.required && controller.loginForm.password.$touched">Required.</div>
      <small><a ng-href="{{controller.forgotPath}}" class="auth__link">Forgot Password?</a></small>
    </div>
  </md-input-container>

  <p class="auth__form-message--error error-text" ng-show="controller.errorMessage">{{controller.errorMessage}}</p>

  <div class="auth__form-row">
    <md-button ng-disabled="controller.loading" class="md-raised md-primary full__bleed auth__button">Login</md-button>
  </div>

</form>

<md-button class="full__bleed auth__button--secondary" ng-href="{{controller.signupPath}}">Create An Account</md-button>
