<md-content layout="row" layout-align="center">
  <div class="signup-card" layout="column">
    <img class="octoblu-logo" src="/assets/images/octoblucircle.png">

    <form name="controller.loginForm" class="user-form" ng-submit="controller.login(email, password)" novalidate>
      <h3 class="form-header">Login</h3>

      <md-input-container flex>
        <label>Email</label>
        <input type="email" ng-model="email" name="email" required>
        <div ng-messages="controller.loginForm.email.$error">
          <div ng-message="required" ng-show="controller.emailRequiredError()">Required.</div>
          <div ng-message="email" ng-show="controller.loginForm.email.$error.email">Must be a valid email address.</div>
        </div>

      </md-input-container>

      <md-input-container flex>
        <label>Password</label>
        <input type="password" ng-model="password" name="password" required>
        <div ng-messages="controller.loginForm.password.$error">
          <div ng-message="required" ng-show="controller.loginForm.password.$error.required && controller.loginForm.password.$touched">Required.</div>
        </div>
      </md-input-container>

      <p class="error-text">{{controller.errorMessage}}</p>

      <div class="pin-button-container" layout="column">
        <md-button ng-disabled="controller.loading" class="md-primary md-raised">Login</md-button>
      </div>

    </form>

    <md-button class="md-primary" href="/signup">Create an Account</md-button>
    <small class="text-center"><a href="/forgot">Forgot Password?</a></small>
  </div>
</md-content>
