<md-content layout="row" layout-align="center">
  <div class="signup-card" layout="column">
    <img class="octoblu-logo" src="/assets/images/octoblucircle.png">

    <form name="controller.resetForm" class="user-form" ng-submit="controller.resetPassword(password)" novalidate>
      <h3 class="form-header">Reset Password for {{controller.email}}</h3>

      <md-input-container flex>
        <label>Password</label>
        <input type="password" name="password" ng-model="password" required>
        <div ng-messages="controller.resetForm.password.$error">
          <div ng-message="required" ng-show="controller.passwordRequiredError()">Required.</div>
        </div>
      </md-input-container>

      <md-input-container flex md-is-error="controller.confirmPasswordError()">
        <label>Confirm Password</label>
        <input type="password" name="confirmPassword" ng-model="confirmPassword" required>

        <div ng-messages="controller.resetForm.confirmPassword.$error">
          <div ng-message="required" ng-show="controller.resetForm.confirmPassword.$error.required && controller.resetForm.confirmPassword.$touched">Required.</div>
          <div ng-message="match" ng-show="controller.resetForm.confirmPassword.$error.match">Passwords don't match.</div>
        </div>
      </md-input-container>

      <p class="error-text">{{controller.errorMessage}}</p>
      <p class="success-text">{{controller.message}}</p>

      <div class="pin-button-container" layout="column">
        <md-button ng-disabled="controller.loading" class="md-primary md-raised">Submit</md-button>
      </div>

    </form>
  </div>
</md-content>
