<form name="controller.resetForm" class="auth__form" ng-submit="controller.resetPassword(password)" novalidate>
  <h3 class="auth__form-header">Reset Password for {{controller.email}}</h3>

  <md-input-container>
    <label>Password</label>
    <input type="password" name="password" ng-model="password" required>
    <div ng-messages="controller.resetForm.password.$error">
      <div ng-message="required" ng-show="controller.passwordRequiredError()">Required.</div>
    </div>
  </md-input-container>

  <md-input-container md-is-error="controller.confirmPasswordError()">
    <label>Confirm Password</label>
    <input type="password" name="confirmPassword" ng-model="confirmPassword" required>

    <div ng-messages="controller.resetForm.confirmPassword.$error">
      <div ng-message="required" ng-show="controller.resetForm.confirmPassword.$error.required && controller.resetForm.confirmPassword.$touched">Required.</div>
      <div ng-message="match" ng-show="controller.resetForm.confirmPassword.$error.match">Passwords don't match.</div>
    </div>
  </md-input-container>

  <p class="auth__form-message--error error-text" ng-show="controller.errorMessage">{{controller.errorMessage}}</p>
  <p class="auth__form-message success-text" ng-show="controller.message">{{controller.message}}</p>

  <div class="pin-button-container" layout="column">
    <md-button ng-disabled="controller.loading" class="md-primary md-raised auth__button--form">Submit</md-button>
  </div>

</form>
