<form name="controller.signupForm" class="auth__form" ng-submit="controller.signup(email, password, confirmPassword)" novalidate>
  <h3 class="auth__form-header">Sign up</h3>

  <md-input-container class="auth__form-row">
    <label>Email</label>
    <input type="email" name="email" ng-model="email" required>
    <div ng-messages="controller.signupForm.email.$error">
      <div ng-message="required" ng-show="controller.emailRequiredError()">Required.</div>
      <div ng-message="email" ng-show="controller.signupForm.email.$error.email">Must be a valid email address.</div>
    </div>
  </md-input-container>

  <md-input-container class="auth__form-row">
    <label>Password</label>
    <input type="password" name="password" ng-model="password" required>
    <div ng-messages="controller.signupForm.password.$error">
      <div ng-message="required" ng-show="controller.passwordRequiredError()">Required.</div>
    </div>
  </md-input-container>

  <md-input-container class="auth__form-row" md-is-error="controller.confirmPasswordError()">
    <label>Confirm Password</label>
    <input type="password" name="confirmPassword" ng-model="confirmPassword" required>

    <div ng-messages="controller.signupForm.confirmPassword.$error">
      <div ng-message="required" ng-show="controller.signupForm.confirmPassword.$error.required && controller.signupForm.confirmPassword.$touched">Required.</div>
      <div ng-message="match" ng-show="controller.signupForm.confirmPassword.$error.matchError">Passwords don't match.</div>
    </div>
  </md-input-container>

  <p class="auth__form-message--error" ng-show="controller.errorMessage">{{controller.errorMessage}}</p>

  <div class="auth__form-row">
    <md-button ng-disabled="controller.loading" class="md-raised md-primary full__bleed auth__button">
      Sign Up
    </md-button>
  </div>
</form>

<md-button class="full__bleed auth__button--secondary" ng-href="{{controller.loginPath}}">
  Login
</md-button>
